<div class="collapse navbar-collapse" id="main-nav">
    <!--Dropdown menu for all games sorting-->
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="frame logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Games</a>
            </div>
        </li>
        <!--Ps4 platform categories and subcategories-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ps4-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="frame platform-logo" src="{{ MEDIA_URL}}ps4_logo.jpeg" alt="page-logo" />
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ps4-link">
                <a href="{% url 'products' %}?sub_category=ps4_action_adventure"
                    class="dropdown-item">Action-Adventure</a>
                <a href="{% url 'products' %}?sub_category=ps4_car_race" class="dropdown-item">Car race</a>
                <a href="{% url 'products' %}?sub_category=ps4_fps" class="dropdown-item">Fps</a>
                <a href="{% url 'products' %}?sub_category=ps4_sport" class="dropdown-item">Sport</a>
                <a href="{% url 'products' %}?sub_category=ps4_horror" class="dropdown-item">Horror</a>
                <a href="{% url 'products' %}?sub_category=ps4_platform" class="dropdown-item">Platform</a>
                <a href="{% url 'products' %}?platform=ps4" class="dropdown-item">All PS4 games</a>
            </div>
        </li>
        <!--Xbox 1 platform categories and subcategories-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="xbox-one-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="frame platform-logo" src="{{ MEDIA_URL}}x_box_one_logo.jpeg" alt="page-logo" />
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sub_category=xbox1_action_adventure"
                    class="dropdown-item">Action-Adventure</a>
                <a href="{% url 'products' %}?sub_category=xbox1_car_race" class="dropdown-item">Car race</a>
                <a href="{% url 'products' %}?sub_category=xbox1_fps" class="dropdown-item">Fps</a>
                <a href="{% url 'products' %}?sub_category=xbox1_sport" class="dropdown-item">Sport</a>
                <a href="{% url 'products' %}?sub_category=xbox1_horror" class="dropdown-item">Horror</a>
                <a href="{% url 'products' %}?sub_category=xbox1_platform" class="dropdown-item">Platform</a>
                <a href="{% url 'products' %}?platform=xbox1" class="dropdown-item">All Xbox One Games</a>
            </div>
        </li>
        <!--Clearence section-->
        <li class="nav-item">
            <a class="frame logo-font font-weight-bold nav-link text-white mr-5"
                href="{% url 'products' %}?special_category=clearence">
                Clearence
            </a>
        </li>
        <!--New arrivals section-->
        <li class="nav-item">
            <a class="frame logo-font font-weight-bold nav-link text-white mr-5"
                href="{% url 'products' %}?special_category=new_arrivals">
                New Arrivals
            </a>
        </li>
    </ul>
</div>