<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ps4-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                PS4 Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Action-Adventure</a>
                <a href="" class="dropdown-item">Car race</a>
                <a href="" class="dropdown-item">Fps</a>
                <a href="" class="dropdown-item">Sport</a>
                <a href="" class="dropdown-item">Horror</a>
                <a href="" class="dropdown-item">Platform</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="xbox-one-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Xbox One Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Action-Adventure</a>
                <a href="" class="dropdown-item">Car race</a>
                <a href="" class="dropdown-item">Fps</a>
                <a href="" class="dropdown-item">Sport</a>
                <a href="" class="dropdown-item">Horror</a>
                <a href="" class="dropdown-item">Platform</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>