{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}
    {% block corecss %}
    <!--Bootstrap google css links-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    {% block corejs %}
    <!--JS links-->
    <script src="https://kit.fontawesome.com/adcdb7be7b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
    <!--Page title-->
    <title>Gear UP {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <!--Page Header-->
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-black pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <a href="{% url 'home' %}" class="nav-link">
                    <img class="page-logo" src="{{ MEDIA_URL}}Free_Sample_By_Wix.jpeg" alt="page-logo" />
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <!--Get all products-->
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="frame form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Looking for a game">
                        <div class="input-group-append">
                            <button class="frame form-control btn btn-black border border-black rounded-0"
                                type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <!--Home button-->
                    <li class="list-inline-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <div class="text-center">
                                <div><i class="fas fa-gamepad fa-lg"></i></div>
                                <p class="my-0">home</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item dropdown">
                        <!--Acount section-->
                        <a class="text-blank nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <!--User option-->
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <!--Superuser only section-->
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <!--View bag button-->
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-blank{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row navbar bg-black">
            <nav class="navbar navbar-expand-lg w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <!--Links to the included html-->
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Free delivery for orders over £{{ free_delivery_threshold }}!</h4>
            </div>
        </div>
    </header>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    {% block page_header %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}
</body>
<!--Footer-->
<footer class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-12 about-company">
                <h2>Restart</h2>
                <p class="pr-5 text-white-50">Failure doesn't mean Game Over , it means Try AGAIN with EXPERIENCE</p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Keep your-self updated</h4>
                <ul class="m-0 p-0">
                    <li> <a href="https://www.gamespot.com/" target="blank">Check the latest on GameSpot</a></li>
                    <li> <a href="https://www.gameinformer.com/" target="blank">All you need to know on
                            GameInformer</a>
                    </li>
                    <li> <a href="https://www.indiegamewebsite.com/" target="blank">Follow for Indie Games news</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">You can find us at:</h4>
                <p>Vlora, AL, Rruga Lef Sallata, 9404, Albania</p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>+44 7599 561289</p>
                <p><i class="fa fa-envelope-o mr-3"></i>kristirapi@icloud.com</p>
            </div>
            <div class="col-lg-2 col-xs-12">
                <h3>Follow Us</h3>
                <p><a href="https://www.facebook.com/" target="blank"><i class="fa fa-facebook-square mr-1"></i></a>
                    <a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram-square mr-1"></i></a>
                    <a href="https://www.youtube.com/" target="blank"><i class="fa fa-youtube-square mr-1"></i></a>
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2021. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</footer>

</html>